app_env = ""
app_version = ""

supabase_url = ""
supabase_key = ""

huggingface_api_key = ""
openrouter_api_key = ""
open_exchange_rates_app_id = ""

cron_secret = ""

azure_foundry_api_key = ""
azure_foundry_project_url = ""
azure_foundry_project_model_name = ""
azure_foundry_project_api_version = ""

smtp_host=""
smtp_port=""
smtp_username=""
smtp_password=""
from_email=""
from_name=""

allowed_origins=""
api_base_url=""
